@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
    /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif; */
    font-size: 14px;
}

/* .bg-for-calendar {
    background-image: url('');
    background-size: cover;
    background-position: center;
} */